<h1><%= @question.title %></h1>
<form method="post" action='/questions/<%= @question.id %>/vote' class="inline">
    <button type="submit" name="value" value="+1">upvote</button>
  </form>
  <p><%= @question.score %></p>
  <form method="post" action='/questions/<%= @question.id %>/vote' class="inline">
    <button type="submit" name="value" value="-1">downvote</button>
  </form>
<main><%= @question.body %></main>
<p>posted by <a href ="/user/<%= @question.author.id%>"><%=@question.author.username %></a> at <%=@question.created_at%></p>
<p><small>comments</small></p>
<% @question.comments.sort_by(&:score).each do |comment| %>
  <%= erb :'comments/_comment', locals: {comment:comment} %> <br>

<%end%>

<ul>
    <li>
       <a href='/questions/<%= @question.id%>/comments/new'>Comment on Question</a>
    </li>
</ul>
<h2>Answers:</h2>
<ul>
  <% if answer = @question.chosen_answer %>
    <%= erb :'questions/_details_answer', locals: {answer:answer} %>
  <% end %>

  <% @question.answers.reject(&:chosen_answer?).sort_by(&:score).each do |answer| %>
    <%= erb :'questions/_details_answer', locals: {answer:answer} %>
  <% end %>
</ul>
<a href='/questions/<%= @question.id %>/answers/new'>Answer Question</a>

