<h1><%= @question.title %></h1>
<%= erb :_item_score, locals: {score: @question.score, route: "/questions/#{@question.id}"} %>
<main><%= @question.body %></main>
<p>posted by <a href ="/user/<%= @question.author.id%>"><%=@question.author.username %></a> at <%=@question.created_at%></p>
<% if current_user == @question.author %>
<p><a href="/questions/<%= @question.id%>/edit">Edit Question</a></p>
<form action= "/questions/<%=@question.id%>" method = "POST">
   <input type="hidden" name="_method" value="delete">
   <input type="submit"value="Delete Question">
</form>
<% end %>
<p><small>comments</small></p>
<% @question.comments.sort_by(&:score).each do |comment| %>
  <%= erb :'comments/_comment', locals: {comment:comment} %> <br>

<%end%>

<% if login? %>
<ul>
    <li>
       <a href='/questions/<%= @question.id%>/comments/new'>Comment on Question</a>
    </li>
</ul>
<% end %>

<h2>Answers:</h2>
<ul>
  <% if @question.chosen_answer %>
    <%= erb :'questions/_details_answer', locals: {answer: @question.chosen_answer} %>
  <% end %>

  <% @question.answers.reject(&:chosen_answer?).sort_by(&:score).each do |answer| %>
    <%= erb :'questions/_details_answer', locals: {answer:answer} %>
  <% end %>
</ul>

<% if login? %>
<a href='/questions/<%= @question.id %>/answers/new'>Answer Question</a>
<% end %>
