
<h1 class = "question-title"><%= @question.title %></h1>

<!-- following partial has its own div -->
<%= erb :_item_score, locals: {score: @question.score, route: "/questions/#{@question.id}"} %>


<main class = "question-box">
<h3 class = "question-body"><%= @question.body %></h3>
<p>posted by <a href ="/user/<%= @question.author.id%>"><%=@question.author.username %></a> at <%=@question.created_at%></p>
</main>


<% if current_user == @question.author %>
  <div class= "buttons"
  <li><a class = "edit-question" href="/questions/<%= @question.id%>/edit">Edit Question</a></li>
  <form class = "delete-question" action= "/questions/<%=@question.id%>" method = "POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Question">
  </form>
</div>
<% end %>


<p class="comments-title">Comments</p>
<ul class="comments-container">
  <% @question.comments.sort_by(&:score).reverse.each do |comment| %>
    <%= erb :'comments/_comment', locals: {comment:comment} %> <br>

  <%end%>
</ul>
<div class="add-comment-container">
  <% if login? %>
    <a class="add-comment question-comment-link" href='/questions/<%= @question.id%>/comments/new'>Comment on Question</a>
  <% end %>
</div>


<ul class="votable-container answers-list">

  <h2>Answers:</h2>
  <% if @question.chosen_answer %>
    <%= erb :'questions/_details_answer', locals: {answer:@question.chosen_answer} %>
  <% end %>

  <% @question.answers.reject(&:chosen_answer?).sort_by(&:score).each do |answer| %>
    <%= erb :'questions/_details_answer', locals: {answer:answer} %>
  <% end %>
</ul>
<div class="answer-question">
<% if login? %>
  <a href='/questions/<%= @question.id %>/answers/new' class="add-answer">Answer Question</a>
<% end %>
</div>

