<h1> <%= @question.title %> </h1><br>
<%= @question.body %><br><br>
<% @question.comments.each do |comment| %>
  <%= comment.body %> <br>
<%end%>

<a href='/questions/<%= @question.id%>/comments/new'>Comment on Question</a>


<% if @answers %>
  <% @answers.each do |answer| %>
    <ul class="votable-container">
      <li>
      <%= answer.body %><br>
      <% answer.comments.each do |comment|%>
        <%= comment.body %> <br>
      <%end%>
       <a href='/answers/<%=answer.id%>/comments/new'>Comment on Answer</a>
      </li>
    </ul>
  <% end %>
<% end %>

<a href='/questions/<%= @question.id %>/answers/new'>Answer Question</a>
