<li>
  <div class = "comments">
  <%= erb :_item_score, locals: {score: comment.score, route: "/comments/#{comment.id}"} %>
  <div class = "question-comments">
  <p class='body-text'><%= comment.body %> </p>
  <p class = "commented">commented by <a href="/users/<%= comment.author.id%>"><%= comment.author.username %></a></p>


  <% if current_user == comment.author %>
  <p><a class = "edit-comment" href="/comments/<%= comment.id%>/edit" class="edit-link">Edit Comment</a></p>
  <form action= "/comments/<%=comment.id%>" method = "POST" class="delete-form">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Comment">
  </form>
  <% end %>
  </div>
</div>

</li>
