<h1><%= @user.username %></h1>

<p>Joined on <%= @user.created_at %></p>
<p>He has posted <%= @user.questions.count %> questions, <%= @user.answers.count %> answers, and <%= @user.comments.count %> comments.</p>
<p>His total score is <%= @user.score %>, making him a <%= @user.rank %>.</p>

<img src="<%=@user.img%>">
